Repository triggerdotdev/trigger.dev, changes with the labels that .github/labeler.yml gives for each.
All labels: ğŸ“Œ area: cli, ğŸ“Œ area: t3-app, ğŸ“š documentation, ğŸ“Œ area: ci

Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: ğŸ“Œ area: ci

Create pull_request_template.md
  .github/pull_request_template.md
Labels: ğŸ“š documentation, ğŸ“Œ area: ci

updated the readme in @trigger.dev/remix package
  packages/remix/README.md
Labels: ğŸ“š documentation

doc: added the manual setup guide for remix
  docs/_snippets/manual-setup-remix.mdx
Labels: none

updated the webapp onboarding for remix
  apps/webapp/app/components/frameworks/FrameworkSelector.tsx
  apps/webapp/app/routes/_app.orgs.$organizationSlug.projects.$projectParam.setup.remix/route.tsx
  docs/documentation/concepts/client-adaptors.mdx
Labels: none

Added docs on how to create a webhook handler
  docs/integrations/create-triggers.mdx
Labels: none

Clarified the webhook response
  docs/integrations/create-triggers.mdx
Labels: none

Caught another runTask param order update
  docs/sdk/io/runtask.mdx
Labels: none

Update nextjs.mdx (#458)
  docs/documentation/guides/platforms/nextjs.mdx
Labels: none

.github/labeler.yml:

"ğŸ“Œ area: cli":
  - any: ["cli/**/*"]

"ğŸ“Œ area: t3-app":
  - any: ["cli/template/**/*"]

"ğŸ“š documentation":
  - any: ["www/**/*"]
  - any: ["**/*.md"]

"ğŸ“Œ area: ci":
  - any: [".github/**/*"]
